.icon {
    font-size: 2rem;
    color: #007bff; /* Bootstrap primary color */
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .card-body {
    transition: transform .2s; /* Animation */
  }
  
  .card:hover .card-body {
    transform: scale(1.05); /* Slightly scale up */
  }
  